@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

$header-height: 3rem;
// ============colors=======
$first-color: #069c54;
$first-color-atl: #048654;
$title-color: #393939;
$text-color: #707070;
$text-color-light: #a6a6a6;
$body-color: #fbfefd;
$container-color: #ffffff;

// ============font and typography ================

$body-font: 'Poppins', sans-serif;
$biggest-font-size: 2.25rem;
$h1-font-size: 1.5rem;
$h2-font-size: 1.25rem;
$h3-font-size: 1rem;
$normal-font-size: 0.938rem;
$small-font-size: 0.813rem;
$smaller-font-size: 0.75rem;

// ============Font weight ================

$font-meduim: 500;
$font-semi-bold: 600;

// ============ Margines ================
$mb-1: 0.5rem;
$mb-2: 1rem;
$mb-3: 1.5rem;
$mb-4: 2rem;
$mb-5: 2.5rem;
$mb-6: 3rem;

// ============ z index ================
$z-tooltip: 10;
$z-fixed: 100;


@media screen and (min-width: 768px){
    // ============font and typography ================
    $biggest-font-size: 4rem;
    $h1-font-size: 2.25rem;
    $h2-font-size: 1.5rem;
    $h3-font-size: 1.25rem;
    $normal-font-size: 1rem;
    $small-font-size: 0.875rem;
    $smaller-font-size: 0.813rem;
}

 // ============base================

 *,::before,::after{
     box-sizing: border-box;
 }
html{
    scroll-behavior: smooth;
}
body{
    margin: $header-height 0 0 0;
    font-family: $body-font;
    font-size: $normal-font-size;
    background-color: $body-color;
    color: $text-color;
    line-height: 1.6;
}

h1, h2, h3,p, ul{
    margin: 0;
}
ul{
    padding: 0;
    list-style: none;
}
a{
    text-decoration: none;
}
img{
    max-width: 100%;
    height: auto;
}

 // ============.section================
 .section{
     padding: 4rem 0 2rem;
 }
 .section-title, .section-subtitle{
     text-align: center;
 }
.section-title{
    font-size: $h1-font-size;
    color: $title-color;
    margin-bottom: $mb-3;
}

.section-subtitle{
    display: block;
    color: $first-color;
    font-weight: $font-meduim;
    margin-bottom: $mb-1;
}

 // ============layout================
 .bd-container{
     max-width: 960px;
     width: calc(100%-2rem);
     margin-left: $mb-2;
     margin-right: $mb-2;
 }
 .bd-grid{
     display: grid;
     gap: 1.5rem;

 }
 .l-header{
     width: 100%;
    position: fixed;
    top: 0;
    z-index: $z-fixed;
    background-color: $body-color;
 }

  // ============NAV================
  .nav{
      max-width: 1024px;
      height: $header-height;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .nav_items{
     
      margin-bottom: $mb-2;
    }
   
    .nav_link, .nav_logo, .nav_toggle{
        color: $text-color;
        font-weight: $font-meduim;
        
    }
    .nav_logo:hover{
        color:$first-color;
    }
    .nav_toggle{
        font-size: 1.3rem;
        cursor: pointer;
    }

    // =====================show menu=====================

    .show-menu{
        top: $header-height;

    }
    //================scroll===================

    

  }

   //================home===================

   .home_container{
       height: calc(100vh - $header-height);
       align-content: center;
   }
   .home_title{
       font-size: $biggest-font-size;
       color: $first-color;
       margin-bottom: $mb-1;
   }

   .home_subtitle{
       font-size: $h1-font-size;
       color: $title-color;
       margin-bottom: $mb-4;
       width: 270px;
      
   }
   .home_img{
    //    transform: scale(0.7);
       width: 270px;
       justify-self: center;

       
   }

      //================buttons===================
.button{
    display: inline-block;
    background-color: $first-color;
    color: #fff;
    padding: 0.75rem 1rem;
    border-radius: 0.5rem;
    transition: 0.3s; 
    margin-bottom: $mb-3;
    :hover{
        background-color: $first-color-atl;
    }
}
//================about===================
.about_wrapper{
    text-align: center;
} 
  .about_description{
       margin-bottom: $mb-3;
    }
.about_img{
     width: 280px;
 justify-self: center;


    }
.sevices_container{
    row-gap: 2.5rem;
    grid-template-columns: repeat(auto-fit, min-max(220px, 1fr));
}


  
  
  @media screen and (max-width: 768px){
      .nav_menu{
          position: fixed;
          top: -1000px;
          left: 0;
          width: 100%;
          padding: 1.5rem 0 1rem;
          text-align: center;
          background-color: $body-color;
          transition: 0.4s;
          box-shadow: 0 4px 4px rgba(0,0,0,.1);
          border-radius: 0 0 1rem 1rem;
          z-index: -1;
      }
      
  }






